/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/* CV Body section */
.cv-body{
    /* height: 3508px; */
    font-family: 'Abel', sans-serif;
    width: 520px;
}
/* CV Left Side Style */
.left-info{
    height: 660px;
    background-color: #293846;
}
.left-info img{
    height: 150px;
}