/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/* Common */
body{
    line-height: 20px;
}
.text-justify{
    text-align: justify !important;
}
/* CV Body section */
#cv-body{
    /* height: 3508px; */
    font-family: 'Abel', sans-serif;
    /* width: 520px; */
      width: 790px;
      height: 1000px;
}
/* CV Left Side Style */
.left-side{
    /* height: 660px; */
    /* height: 842px; */
    background-color: #293846;
}
.left-side img{
    width: 300px;
}